:root {
  --cor-12: #000;
  --cor-11: #111;
  --cor-10: #222;
  --cor-9: #444;
  --cor-8: #555;
  --cor-7: #777;
  --cor-6: #999;
  --cor-5: #b2b2b2;
  --cor-4: #cccccc;
  --cor-3: #dedede;
  --cor-2: #ededed;
  --cor-1: #f7f7f7;
  --cor-0: #ffffff;
  --cor-p5: #332200;
  --cor-p4: #664400;
  --cor-p3: #a66f00;
  --cor-p2: #e4a30b;
  --cor-p1: #ffbb00;
}

.c12 {
  color: var(--cor-12);
}

.c11 {
  color: var(--cor-11);
}

.c10 {
  color: var(--cor-10);
}

.c9 {
  color: var(--cor-9);
}

.c8 {
  color: var(--cor-8);
}

.c7 {
  color: var(--cor-7);
}

.c6 {
  color: var(--cor-6);
}

.c5 {
  color: var(--cor-5);
}

.c4 {
  color: var(--cor-4);
}

.c3 {
  color: var(--cor-3);
}

.c2 {
  color: var(--cor-2);
}

.c1 {
  color: var(--cor-1);
}

.c0 {
  color: var(--cor-0);
}

.c5 {
  color: var(--cor-5);
}

.cP5 {
  color: var(--cor-p5);
}

.cP4 {
  color: var(--cor-p4);
}

.cP3 {
  color: var(--cor-p3);
}

.cP2 {
  color: var(--cor-p2);
}

.cP1 {
  color: var(--cor-p1);
}
